<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(pageTitle)">
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">Airline Reservation</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<nav th:fragment="navbar">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/flights}">Flights</a>
    <a th:href="@{/bookings}">My Bookings</a>
    <form th:action="@{/logout}" method="post" style="display:inline">
        <button type="submit" class="btn-danger">Logout</button>
    </form>
</nav>

</body>
</html>