<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/nav :: head('Login')}"></head>

<body>
<div class="login-card">
    <p class="message" th:if="${message}" th:text="${message}"></p>
    <p class="error" th:if="${param.error}">Invalid username or password.</p>
    <p class="message" th:if="${param.logout}">You have been logged out.</p>
    <form th:action="@{/login}" method="post">
        <input type="text" name="username" placeholder="Username"/>
        <input type="password" name="password" placeholder="Password"/>
        <button type="submit">Login</button>
    </form>
    <a href="/register" class="go-to-register">Register</a>
</div>
</body>
</html>